%table
  %thead
    %tr
      %td №
      %td Название
  %tbody
    - @competences.each do |competence|
      %tr
        %td= competence.id
        %td= link_to competence.title, competence_path(competence)